HW4_CesarMarin/HW4PartII/XMLService/TryIt/Connected Services/XMLService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="VerifyXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ur_xml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ur_xsd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XPathSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ur_xml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xpath_str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XPathSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XPathSearchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>